input,
textarea {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid var(--grey-700);
	border-radius: 12px;
	padding: 19px 16px;
	width: 100%;
	font-size: 16px;
	transition: 0.3s ease;

	&::placeholder {
		font-family: var(--font-main);
		color: var(--grey-600);
		font-size: 14px;
	}

	&.with-icon {
		padding-left: 56px;
	}

	&:focus {
		border-color: var(--primary);
	}
}

.input-item {
	position: relative;

	[class^="icon-"] {
		font-size: 24px;
		color: var(--grey-600);
		position: absolute;
		left: 16px;
		top: 50%;
		transform: translateY(-50%);
	}
}
