@use "sass:math";

@function perc($number1, $number2: 1600) {
	@return percentage(math.div($number1, $number2));
}

@mixin aspect-ratio($photoWidth, $photoHeight) {
	width: 100%;
	height: 0;
	position: relative;
	padding: {
		bottom: perc($photoHeight, $photoWidth);
	}
	overflow: hidden;

	img,
	iframe,
	video {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
	}
}

.movie-card {
	background: rgba(32, 40, 62, 0.8);
	backdrop-filter: blur(40px);
	border-radius: 12px;
	max-width: 282px;
	padding: 8px;

	&__bg {
		width: 100%;
		border-radius: 12px;
		background: url("@public/common/empty-bg.svg") no-repeat center / cover;

		display: flex;
		align-items: center;
		justify-content: center;

		@include aspect-ratio(266, 400);
	}

	&__rate {
		position: absolute;
		color: var(--warning);
		font-size: 20px;
		padding: 8px;
		left: 16px;
		top: 18px;

		background: rgba(0, 0, 0, 0.65);
		backdrop-filter: blur(4px);
		border-radius: 8px;

		i {
			margin-right: 5px;
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 600;
		padding: 8px;
	}
}

.atropos {
	max-width: 282px;
}
