.header {
	height: 80px;
	display: flex;
	align-items: center;
	background: rgba(18, 24, 41, 0.8);
	backdrop-filter: blur(20px);

	.cont {
		width: 100%;
	}
}

.logo {
	width: 40px;
	height: 40px;
	transition: transform 0.3s ease;
	flex-shrink: 0;

	&:hover {
		transform: scale(1.05);
	}
}

.menu-list {
	display: flex;
	align-items: center;
	position: relative;

	&__link {
		padding: 8px 0;
		transition: color 0.3s ease;
		color: var(--grey-200);

		i {
			margin-left: 8px;
			font-weight: 600;
		}

		&:hover {
			color: var(--tertary);
		}
	}

	span {
		position: absolute;
		background: var(--tertary);
		border-radius: 10px;

		height: 3px;
		bottom: 0;

		z-index: -1;
		opacity: 0;

		left: var(--left-position-span);
		width: var(--width-span);
		transition: var(--span-transition);

		&.active {
			opacity: 1;
		}
	}
}
