h1,
h2,
h3,
a {
	font-weight: 600;
	letter-spacing: -0.02em;
}

h1 {
	font-size: 64px;
	line-height: 125%;
}

h2 {
	font-size: 48px;
	line-height: 117%;
}

h3 {
	font-size: 32px;
	line-height: 125%;
}

p,
a {
	font-size: 16px;
	letter-spacing: 0.02em;
	line-height: 150%;
}

a,
span {
	display: inline-block;
}
